<!-- banner start -->
<!-- ================ -->
<div class="light-gray-bg  banner pv-20">
    <div class="container clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-revolution-5-container">
                <div id="slider-banner-boxedwidth" class="slider-banner-boxedwidth rev_slider" data-version="5.0">
                    <ul class="slides">
                        <!-- slide 1 start -->
                        <!-- ================ -->
                        <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="Get 50% OFF">

                            <!-- main image -->
                            <img src="https://pbassets.azureedge.net/images/shop-slide-1.jpg" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;" data-transform_out="o:0;s:600;" data-width="5000" data-height="450">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption large_white" data-x="left" data-y="85" data-start="500" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Get <span class="text-default">50%</span> OFF<br> Next Generation Template
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption large_white tp-resizeme hidden-xs" data-x="left" data-y="200" data-start="750" data-transform_idle="o:1;" data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                                <div class="separator-2 light"></div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption medium_white hidden-xs" data-x="left" data-y="220" data-start="750" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption small_white hidden-xs" data-x="left" data-y="340" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#" class="btn btn-blue btn-animated">Learn More <i class="fa fa-arrow-right"></i></a>
                            </div>

                        </li>
                        <!-- slide 1 end -->

                        <!-- slide 2 start -->
                        <!-- ================ -->
                        <li class="text-right" data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="New Arrivals">

                            <!-- main image -->
                            <img src="https://pbassets.azureedge.net/images/shop-slide-2.jpg" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="center" data-start="0" data-transform_idle="o:1;" data-transform_in="o:0;s:600;e:Power2.easeInOut;" data-transform_out="o:0;s:600;" data-width="5000" data-height="450">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption large_white" data-x="right" data-y="85" data-start="500" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1150;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span class="text-default">New</span> Arrivals<br> Unlimited Variations and Layouts
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption large_white tp-resizeme hidden-xs" data-x="right" data-y="200" data-start="750" data-transform_idle="o:1;" data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                                <div class="separator-3 light"></div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption medium_white hidden-xs" data-x="right" data-y="220" data-start="750" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;s:850;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption small_white hidden-xs" data-x="right" data-y="340" data-start="1000" data-transform_idle="o:1;" data-transform_in="y:[100%];sX:1;sY:1;o:0;s:600;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><a href="#" class="btn btn-blue btn-animated">Check Now <i class="fa fa-arrow-right"></i></a>
                            </div>

                        </li>
                        <!-- slide 2 end -->
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->


    </div>
</div>
<!-- banner end -->

<div id="page-start"></div>

<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-20 clearfix">
    <div class="container">

        <div class="row">

            <div class="col-md-3 ">
                <div class="pv-20 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                    <h3>Elegant Design</h3>
                    <div class="separator clearfix"></div>
                    <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="pv-20 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                    <h3>Extremely Flexible</h3>
                    <div class="separator clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="pv-20 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
                    <h3>Latest </h3>
                    <div class="separator clearfix"></div>
                    <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="pv-20 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
                    <h3>Latest </h3>
                    <div class="separator clearfix"></div>
                    <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- section end -->


<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <!-- pills start -->
                <!-- ================ -->
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="active">
                        <a href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals">
                            <i class="icon-star"></i> Latest Arrivals
                        </a>
                    </li>
                    <li><a href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Featured</a></li>
                    <li><a href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" icon-up-1"></i> Top Sellers</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content clear-style">
                    <div class="tab-pane active" id="pill-1">
                        <div class="row masonry-grid-fitrows grid-space-10">
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pill-2">
                        <div class="row masonry-grid-fitrows grid-space-10">
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="pill-3">
                        <div class="row masonry-grid-fitrows grid-space-10">
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6 masonry-grid-item">
                                <div class="listing-item white-bg bordered mb-20">
                                    <div class="overlay-container">
                                        <img src="https://pbassets.azureedge.net/images/product-1.jpg" alt="">
                                        <a class="overlay-link popup-img-single" href="https://pbassets.azureedge.net/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        <span class="badge">30% OFF</span>
                                        <div class="overlay-to-top links">
                                            <span class="small">
															<a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
															<a href="#" class="btn-sm-link"><i class="icon-link pr-5"></i>View Details</a>
														</span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <h3><a href="shop-product.html">Suscipit consequatur velit</a></h3>
                                        <div class="elements-list clearfix">
                                            <span class="price"><del>$100.00</del> $70.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- pills end -->
                <!-- pagination start -->
                <nav class="text-center">
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
                <!-- pagination end -->
            </div>
            <!-- main end -->

        </div>
    </div>
</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-30 clearfix">
    <div class="container">

        <h3 class="title">Top Brands</h3>
        <div class="row grid-space-10">
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-1.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-2.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-3.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-4.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-5.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-6.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row grid-space-10">
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-1.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-2.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-3.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-4.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-5.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="overlay-container mb-10">
                    <img src="https://pbassets.azureedge.net/images/gallery-6.jpg" alt="">
                    <a href="portfolio-item.html" class="overlay-link small">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-right space-top">
            <a href="portfolio-grid-2-3-col.html" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>
        </div>

    </div>
</section>
<!-- section end -->




<!-- section start -->
<!-- ================ -->
<section class="light-gray-bg pv-30 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Core <strong>Features v3 {{data}}</strong></h2>
                <ul class="items">
                    <li *ngFor="let item of items">
                        <span class="badge">{{item.pricebabaId}}</span> {{item.name}}
                        <img src="{{item.images[0]}}" alt="">
                    </li>
                </ul>
                <ul class="users">
                    <li *ngFor="let user of users">
                        <span class="badge">{{user.id}}</span> {{user.name}}
                    </li>
                </ul>
                <div class="separator"></div>
                <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                    <h3>Elegant Design</h3>
                    <div class="separator clearfix"></div>
                    <p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                    <h3>Extremely Flexible</h3>
                    <div class="separator clearfix"></div>
                    <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
                    <h3>Latest Technologies</h3>
                    <div class="separator clearfix"></div>
                    <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->